<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suythea.hrms">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Supporting_Files.MyVolley"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account.MainCreateUser"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Account.MainLogIn"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Account.MainEditUpgradeToCom"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Account.MainEditUser"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PostCV.MainPostCV"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewOwnCV.MainViewOwnCV"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewCV.MainViewCV"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SearchJob.MainSearchJob"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PostJob.MainPostJob"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewOwnJob.MainViewOwnJob"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewJob.MainViewJob"
            android:configChanges="orientation|screenSize" />

        <service android:name=".Firebase_Notification.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase_Notification.MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Reset_Password.Main_ResetPassword" />
        <activity android:name=".Reset_Password.Main_VerifyCode" />
        <activity android:name=".Reset_Password.Main_New_Password"></activity>
    </application>

</manifest>